<ion-header>
    <ion-navbar >
      <ion-title>
        <span ion-text>Welcome to watcher</span>
      </ion-title>
  
      <ion-buttons end *ngIf="user_id != undefined">
        <button ion-button icon-only ligth (click)="logout()">
          <ion-icon name="md-exit"></ion-icon>
        </button>
      </ion-buttons>
  
    </ion-navbar>
  </ion-header>

<ion-content padding>
  <div *ngIf="user_id == undefined">   
    <form [formGroup]="form">
      <div class="spacer" style="height:30px;" id="iniciaSesion-spacer4"></div>
      <ion-list id="iniciaSesion-list2">
        <ion-item id="iniciaSesion-input7">
          <ion-label> Usuario: </ion-label>
          <ion-input type="text" formControlName="user"></ion-input>
        </ion-item>
        <ion-item id="iniciaSesion-input8">
          <ion-label>
            Clave:
          </ion-label>
          <ion-input [type]="passwordType" placeholder="" formControlName="password"></ion-input>
          <ion-icon style="z-index: 900;" item-end [name]="passwordIcon" class="passwordIcon" (click)='showHide()'></ion-icon>
        </ion-item>
      </ion-list>
    </form>
    <div class="spacer" style="height:20px;" id="iniciaSesion-spacer5"></div>
    <button id="iniciaSesion-button4" ion-button color="calm" block small style="font-size:13px;"  [disabled]="form.status == 'INVALID'"  (click)="loginUser()">
      INGRESAR
    </button>
  </div>
  <div *ngIf="user_id != undefined">
    <ion-item>
      <ion-label>Actividad</ion-label>
      <ion-select>
          <ion-option *ngFor="let activite of allActivities " value="{{activite}}" (ionSelect)="onChange($event, activate)">{{activite}}</ion-option>
      </ion-select>
    </ion-item>
  </div>
</ion-content>
